 *, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --tamanho-celula: 100px;
    --tamanho-verde: calc(var(var(--tamanho-celula) * .9 ));
    --cor: 2px solid black;
}

.body{
    margin: 0;
}

.jogo{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, auto);
}

.celula{
    width: var(--tamanho-celula);
    height: var(--tamanho-celula);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.celula:first-child,
.celula:nth-child(2){
    border-top: var(--cor);
}

.celula:nth-child(3),
.celula:last-child{
    border-bottom: var(--cor);
}

.celula:first-child,
.celula:nth-child(3){
    border-left: var(--cor);
}

.celula:nth-child(2),
.celula:last-child{
    border-right: var(--cor);
}

.celula.v{
    background-color: green;
    cursor: not-allowed;
}

.celula.x{
    background-color: red;
    cursor: not-allowed;
}


